process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'FGUMI_CLIP' { container = 'oras://community.wave.seqera.io/library/fgumi:0.7.0--72ed3ddc0a890f6b' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
